---
interface Props {
  href: string;
  text: string;
  style?: "primary" | "secondary";
}

const { href, text, style = "primary" } = Astro.props;
---

<a href={href} class=`a-${style}`>{text}</a>

<style>
  .a-primary {
    color: light-dark(var(--clr-primary), var(--clr-secondary));
    /* color: var(--clr-primary); */
  }

  .a-secondary {
    color: var(--clr-accent);
  }

  .a-primary:hover,
  .a-primary:focus-visible {
    color: var(--clr-accent);
    /* transition: 200ms ease-in; */
  }

  .a-secondary:hover,
  .a-secondary:focus-visible {
    color: light-dark(var(--clr-primary), var(--clr-tertiary));
    /* color: var(--clr-primary); */
    /* transition: 200ms ease-in; */
  }
</style>
