---
import Card from "../components/Card.astro";
type CardType = {
  id: number;
  title: string;
  value: string | number;
};

type CardSizeType = "s" | "m" | "l";
type CardListType = CardType[];

interface Props {
  size: CardSizeType;
  cardList: CardListType;
}

const { size, cardList } = Astro.props;
---

<ul class="card-list-container">
  {
    cardList.map((card) => (
      <li>
        <Card size={size} card={card} />
      </li>
    ))
  }
</ul>

<style>
  .card-list-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }
</style>
