@import "./reset.css";
@import "./variables.css";
@import "./typography.css";

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;
  scroll-behavior: smooth;
  color-scheme: light dark;
  /* scrollbar-gutter: stable; */
}

html,
body {
  min-height: 100dvh;
  min-block-size: 100svh;
  background-color: var(--bg);
  color: var(--clr);
  font-family: var(--font);
  font-size: var(--p);
  line-break: strict;
  line-height: 1.5;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --view-transition_visibility: visible;
  --view-transition_pointer-events: auto;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

header,
main,
footer {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding-block: var(--p-layout-block);
  padding-inline: var(--p-layout-inline);
}

a:visited {
  color: var(--clr);
}

a:hover {
  color: var(--clr-tertiary);
}

form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  legend {
    visibility: hidden;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input {
    padding: 0.5rem;
    border: 1px solid black;
  }

  input:disabled {
    cursor: not-allowed;
  }
}

/* .container {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: var(--p-layout-inline);
} */

/* For svg content, Limited accessibility and Not flexible for styling */
/* [href$="/pdf"]::after {
  content: url(pdf.svg) / "download PDF";
}

[href$="/csv"]::after {
  content: url(csv.svg) / "download CSV";
}

[href$="/json"]::after {
  content: url(json.svg) / "download JSON";
} */
