@import "variables.css";

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  color: var(--clr-accent);
}

h3 {
  font-size: var(--h3);
}

label,
.label {
  color: var(--clr-tertiary);
}

label:focus,
.label:focus {
  color: var(--clr);
}

span {
  color: var(--clr-accent);
  font-weight: 600;
  text-transform: capitalize;
}

.message-error {
  height: 2rem;
  color: var(--clr-error);
  font-size: var(--p-error);
  font-weight: initial;
}

.message-success {
  height: 2rem;
  color: var(--clr-success);
  font-size: var(--p-success);
  font-weight: initial;
}
