---
import Button from "../../../components/Button.astro";
import type { ScanBatchSchemaType } from "../types/receiptTypes";

type Props = {
  response: { message: string; code: string } | null;
  values: ScanBatchSchemaType;
};

const { response, values } = Astro.props;
---

<form method="POST" enctype="multipart/form-data">
  <fieldset name="form-upload-receipts">
    <legend>Upload receipts form</legend>
    <div class="form-group">
      <label for="files">Upload a batch of receipts manually (.jpg, .jpeg, .png)</label>
      <input
        type="file"
        name="files"
        id="files"
        multiple
        accept=".jpg, .jpeg, .png"
        value={values.files as unknown as string[]}
      />
      <p class="message-error" id="files-error"></p>
    </div>
    <div class="form-group">
      <Button text="Upload receipts" type="submit" />
      {
        response ? (
          <p
            class={response.code === "SUCCESS" ? "message-success" : "message-error"}
            id="form-error"
          >
            {response.message}
          </p>
        ) : null
      }
    </div>
  </fieldset>
</form>

<script>
  import { handleForm } from "../../../utils/utils";
  import { ScanBatchSchema } from "../schemas/receiptSchemas";

  const form = document.querySelector("form");

  if (form instanceof HTMLFormElement) {
    handleForm(form, ScanBatchSchema);
  }
</script>

<style>
  form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  legend {
    visibility: hidden;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input {
    padding: 0.5rem;
    border: 1px solid black;
  }
</style>
