---
import Button from "../../../components/Button.astro";

interface Props {
  errorMessage: string | null;
  values: {
    email: string;
    password: string;
    confirm: string;
  };
}

const { errorMessage, values } = Astro.props;
---

<form method="POST">
  <fieldset name="form-update-account">
    <legend>Update account form</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        value={values?.email}
        disabled
        autocomplete="off"
      />
      <p class="message-error" id="email-error"></p>
    </div>
    <div class="form-group">
      <label for="password">Change to new password</label>
      <input
        type="password"
        id="password"
        name="password"
        value={values?.password}
        autocomplete="off"
      />
      <button type="button" id="password-button">O</button>
      <p class="message-error" id="password-error"></p>
    </div>
    <div class="form-group">
      <label for="confirm">Confirm new password</label>
      <input
        type="password"
        id="confirm"
        name="confirm"
        value={values?.confirm}
        autocomplete="off"
      />
      <button type="button" id="confirm-button">O</button>
      <p class="message-error" id="confirm-error"></p>
    </div>
    <div class="form-group">
      <Button text="Update" type="submit" />
      {
        errorMessage ? (
          <p class="message-error" id="form-error">
            {errorMessage}
          </p>
        ) : null
      }
    </div>
  </fieldset>
</form>

<script>
  import { handleForm, handleShowPasswordButton } from "../../../utils/utils";

  const form = document.querySelector("form");
  const passwordInput: HTMLInputElement | null = document.querySelector("#password");
  const passwordButton: HTMLButtonElement | null = document.querySelector("#password-button");
  const confirmPasswordInput: HTMLInputElement | null = document.querySelector("#confirm");
  const confirmPasswordButton: HTMLButtonElement | null = document.querySelector("#confirm-button");

  handleShowPasswordButton(passwordButton, passwordInput);
  handleShowPasswordButton(confirmPasswordButton, confirmPasswordInput);

  if (form instanceof HTMLFormElement) {
    handleForm(form, UpdateAccountSchema);
  }
</script>

<style>
  #password {
    anchor-name: --password-input;
  }

  #password-button {
    position-anchor: --password-input;
    position: absolute;
    right: calc(anchor(right) + 10px);
    top: anchor(top);
    align-self: anchor-center;
    background-color: transparent;
  }

  #confirm {
    anchor-name: --confirm-input;
  }

  #confirm-button {
    position-anchor: --confirm-input;
    position: absolute;
    right: calc(anchor(right) + 10px);
    top: anchor(top);
    align-self: anchor-center;
    background-color: transparent;
  }
</style>
