---
import "../styles/main.css";
import Header from "./Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
// const user = Astro.locals.user;
// console.log("user", user);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <title>RecScan - {title}</title>
    <script is:inline>
      (() => {
        const style = document.createElement("style");
        style.innerHTML = "* { transition: none !important }";
        document.head.appendChild(style);

        const savedTheme = localStorage.getItem("theme");

        if (savedTheme === "light" || savedTheme === "dark") {
          document.documentElement.setAttribute("data-theme", savedTheme);
        } else {
          const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
          document.documentElement.setAttribute("data-theme", prefersDark ? "dark" : "light");
        }

        setTimeout(() => style.remove(), 1);
      })();
    </script>
  </head>
  <body>
    <Header />
    <!-- <div class="container"> -->
    <main id="main">
      <!-- Maybe add <h1>{title}</h1> here since all pages have currently a title -->
      <slot />
    </main>
    <!-- </div> -->
  </body>
</html>

<!-- <script is:inline>
  const savedTheme = localStorage.getItem("theme");
  if (savedTheme && savedTheme !== "auto") {
    document.documentElement.setAttribute("data-theme", savedTheme.toLowerCase());
  }
</script> -->

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
