---
import "../styles/reset.css";
import "../styles/main.css";
import Header from "./Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
// const user = Astro.locals.user;
// console.log("user", user);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>RecScan - {title}</title>
  </head>
  <body>
    <Header />
    <main id="main">
      <!-- Maybe add <h1>{title}</h1> here since all pages have currently a title -->
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
