---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

export const prerender = false;
---

<Layout title="Devices">
  <h1>Devices</h1>
  <Section title="Device 1">
    Status: Connected Connection: Stable Error: None ------ Experiencing issues? Restart device or
    Test Connection Serial number: Model: Software version: IP address:
  </Section>
  <Section title="Device 2">
    Status: Connected Connection: Stable Error: None ------ Experiencing issues? Restart device or
    Test Connection Serial number: Model: Software version: IP address:
  </Section>
</Layout>
