---
import CardList from "../components/CardList.astro";
import ChartLine from "../components/ChartLine.astro";
import { getUserOverview } from "../features/users/api/userApi";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import type { OverviewCardType } from "../types/types";

export const prerender = false;

const result = await getUserOverview(Astro);
console.log(result);

// If multiple devices connected, then receipts scanned in device 1, device n... receipt amount in device 1, device n...
const overviewCards: OverviewCardType[] = [
  {
    id: 0,
    title: "Devices online",
    value: result?.data?.device_count ?? 0,
  },
  {
    id: 1,
    title: "Uploads made",
    value: result?.data?.job_count ?? 0,
  },
  {
    id: 2,
    title: "Receipts scanned",
    value: result?.data?.receipt_count ?? 0,
  },
  {
    id: 3,
    title: "Total receipt amount",
    value: result?.data?.receipt_amount.toFixed(2) ?? 0,
  },
];
---

<Layout title="Dashboard">
  <h1>Dashboard</h1>
  <Section title="Overview">
    <CardList size="s" cardList={overviewCards} />
  </Section>
  <Section title="Performance" direction="row">
    <ChartLine id="total-sales" />
    <ChartLine id="total-receipts" />
  </Section>
</Layout>
