---
import { getLoginAction } from "../features/auth/actions/getLoginAction";
import FormLogin from "../features/auth/components/FormLogin.astro";
import Layout from "../layouts/Layout.astro";
import type { LoginSchemaType } from "../features/auth/types/authTypes";

export const prerender = false;

let errorMessage: string | null = null;
let values: LoginSchemaType = {
  email: "",
  password: "",
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  values = Object.fromEntries(data) as LoginSchemaType;

  const result = await getLoginAction(values, Astro);

  if (result instanceof Response) {
    return result;
  }

  errorMessage = result?.message ?? null;
}
---

<Layout title="Login">
  <h1>Login</h1>
  <FormLogin errorMessage={errorMessage} values={values} />
</Layout>
