---
import { getLoginAction } from "../features/auth/actions/getLoginAction";
import FormLogin from "../features/auth/components/FormLogin.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import type { LoginPostType } from "../features/auth/types/authTypes";

export const prerender = false;

let errorMessage: string | null = null;
let values: LoginPostType = {
  email: "",
  password: "",
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  values = Object.fromEntries(data) as LoginPostType;

  const result = await getLoginAction(values, Astro);

  if (result instanceof Response) {
    return result;
  }

  errorMessage = result?.details?.error?.message ?? result?.message ?? null;
}
---

<Layout title="Login">
  <h1>Login</h1>
  <Section>
    <FormLogin errorMessage={errorMessage} values={values} />
  </Section>
</Layout>
