---
import { getRegisterAction } from "../features/auth/actions/getRegisterAction";
import FormRegister from "../features/auth/components/FormRegister.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import type { RegisterSchemaType } from "../features/auth/types/authTypes";

export const prerender = false;

let errorMessage: string | null = null;
let values: RegisterSchemaType = {
  email: "",
  password: "",
  confirm: "",
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  values = Object.fromEntries(data) as RegisterSchemaType;

  const result = await getRegisterAction(values, Astro);

  if (result instanceof Response) {
    return result;
  }

  errorMessage = result?.message ?? null;
}
---

<Layout title="Register">
  <h1>Register</h1>
  <Section>
    <FormRegister errorMessage={errorMessage} values={values} />
  </Section>
</Layout>
