---
import { getScanBatchAction } from "../features/receipts/actions/getScanBatchAction";
import FormUploadReceipts from "../features/receipts/components/FormUploadReceipts.astro";
import type {
  ScanBatchPostType,
  ScanBatchSchemaType,
} from "../features/receipts/types/receiptTypes";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

export const prerender = false;

let errorMessage: string | null = null;
let values = {
  files: [],
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const fileList = data.getAll("files");
  // values = Object.fromEntries(data);
  values = { files: fileList }; //  FIX THIS
  // console.log("values", values, files);

  const result = await getScanBatchAction(values, Astro);

  if (result instanceof Response) {
    return result;
  }

  errorMessage = result?.details?.error?.message ?? result?.message ?? null;
}
---

<Layout title="upload receipts">
  <h1>Upload</h1>
  <Section>
    <FormUploadReceipts errorMessage={errorMessage} values={values} />
  </Section>
</Layout>
