---
import Layout from "../../layouts/Layout.astro";
import FormAddDevice from "../../features/devices/components/FormAddDevice.astro";
import { requireUser } from "../../lib/auth/requireUser";
import type { DeviceAddSchemaType } from "../../features/devices/types/deviceTypes";
import { getDeviceAction } from "../../features/devices/actions/getDeviceAction";

const user = requireUser(Astro);

let errorMessage: string | null = null;
let values: DeviceAddSchemaType = {
  user_id: user.id,
  name: "",
  mac: "",
  ip: "",
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  values = Object.fromEntries(data) as DeviceAddSchemaType;

  const result = await getDeviceAction(values, Astro);

  if (result instanceof Response) {
    return result;
  }

  errorMessage = result?.message ?? null;
  console.log(result);
}

// 3D:F2:C9:A6:B3:4F
// 3D-F2-C9-A6-B3-4F
// 192.168.1.1
// 255.255.255.255
---

<Layout title="Add device">
  <h1>Add Device</h1>
  <FormAddDevice errorMessage={errorMessage} values={values} />
</Layout>
