---
import Layout from "../../layouts/Layout.astro";
import FormAddDevice from "../../features/devices/components/FormAddDevice.astro";
import type { DeviceAddSchemaType } from "../../features/devices/types/deviceTypes";
import { getDeviceAction } from "../../features/devices/actions/getDeviceAction";

let response: { message: string; code: string } | null = null;
let values: DeviceAddSchemaType = {
  name: "",
  mac: "",
  ip: "",
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  values = Object.fromEntries(data) as DeviceAddSchemaType;

  const result = await getDeviceAction(values, Astro);

  if (result instanceof Response) {
    return result;
  }

  response = { message: result.message, code: result.code };
}
---

<Layout title="Add device">
  <h1>Add Device</h1>
  <FormAddDevice response={response} values={values} />
</Layout>
