---
import Button from "../../../components/Button.astro";
import ButtonLink from "../../../components/ButtonLink.astro";

type Props = {
  errorMessage: string | null;
  values: {
    email: string;
    password: string;
  };
};

const { errorMessage, values } = Astro.props;
---

<form method="POST">
  <fieldset name="form-login">
    <legend>Login form</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value={values?.email} />
      <p class="message-error" id="email-error"></p>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" value={values.password} />
      <button type="button" id="password-button">O</button>
      <p class="message-error" id="password-error"></p>
    </div>
    <div class="form-group">
      <Button text="Login" type="submit" />
      {
        errorMessage ? (
          <p class="message-error" id="form-error">
            {errorMessage}
          </p>
        ) : null
      }
    </div>
  </fieldset>
  <fieldset>
    <legend>Forgot your password</legend>
    <p>Forgot your password?</p>
    <ButtonLink text="Reset it" href="/forgot-password" style="secondary" />
  </fieldset>
  <fieldset>
    <legend>Register</legend>
    <p>Don't have an account?</p>
    <ButtonLink text="Register" href="/register" style="secondary" />
  </fieldset>
</form>

<script>
  import { handleForm } from "../../../utils/utils";
  import { LoginSchema } from "../schemas/authSchemas";
  import { handleShowPasswordButton } from "../utils/authUtils";

  const form = document.querySelector("form");
  const passwordInput: HTMLInputElement | null = document.querySelector("#password");
  const passwordButton: HTMLButtonElement | null = document.querySelector("#password-button");

  handleShowPasswordButton(passwordButton, passwordInput);

  if (form instanceof HTMLFormElement) {
    handleForm(form, LoginSchema);
  }
</script>

<style>
  form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  legend {
    visibility: hidden;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input {
    padding: 0.5rem;
    border: 1px solid black;
  }

  #password {
    anchor-name: --password-input;
  }

  #password-button {
    position-anchor: --password-input;
    position: absolute;
    right: calc(anchor(right) + 10px);
    top: anchor(top);
    align-self: anchor-center;
    background-color: transparent;
  }
</style>
