---
import Button from "../../../components/Button.astro";
import ButtonLink from "../../../components/ButtonLink.astro";

interface Props {
  errorMessage: string | null;
  values: {
    email: string;
    password: string;
    confirm: string;
  };
}

const { errorMessage, values } = Astro.props;
---

<form method="POST">
  <fieldset name="form-register">
    <legend>Register form</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value={values?.email} />
      <p class="message-error" id="email-error"></p>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" value={values?.password} />
      <button type="button" id="password-button">O</button>
      <p class="message-error" id="password-error"></p>
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <input type="password" id="confirm" name="confirm" value={values?.confirm} />
      <button type="button" id="confirm-button">O</button>
      <p class="message-error" id="confirm-error"></p>
    </div>
    <div class="form-group">
      <Button text="Register" type="submit" />
      {
        errorMessage ? (
          <p class="message-error" id="form-error">
            {errorMessage}
          </p>
        ) : null
      }
    </div>
  </fieldset>
  <fieldset>
    <legend>Log in</legend>
    <p>Already have an account?</p>
    <ButtonLink text="Log in" href="/login" style="secondary" />
  </fieldset>
</form>

<script>
  import { RegisterSchema } from "../schemas/authSchemas";
  import { handleForm, handleShowPasswordButton } from "../../../utils/utils";

  const form = document.querySelector("form");
  const passwordInput: HTMLInputElement | null = document.querySelector("#password");
  const passwordButton: HTMLButtonElement | null = document.querySelector("#password-button");
  const confirmPasswordInput: HTMLInputElement | null = document.querySelector("#confirm");
  const confirmPasswordButton: HTMLButtonElement | null = document.querySelector("#confirm-button");

  handleShowPasswordButton(passwordButton, passwordInput);
  handleShowPasswordButton(confirmPasswordButton, confirmPasswordInput);

  if (form instanceof HTMLFormElement) {
    handleForm(form, RegisterSchema);
  }
</script>

<style>
  #password {
    anchor-name: --password-input;
  }

  #password-button {
    position-anchor: --password-input;
    position: absolute;
    right: calc(anchor(right) + 10px);
    top: anchor(top);
    align-self: anchor-center;
    background-color: transparent;
  }

  #confirm {
    anchor-name: --confirm-input;
  }

  #confirm-button {
    position-anchor: --confirm-input;
    position: absolute;
    right: calc(anchor(right) + 10px);
    top: anchor(top);
    align-self: anchor-center;
    background-color: transparent;
  }
</style>
